html,
body {
  padding: 0;
  margin: 0;
  background-color: #376ab3 !important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.center {
  text-align: -webkit-center !important;
  text-align: -moz-center !important;
  justify-content: center;
  align-items: center;
  text-align: center;
}
